{% block header %}
<div class="alert alert-secondary" role="alert">
	Kubernetes challenges will deploy assets for a challenge in Kubernetes so the challenge can be solved by the entity.
	This can be a group of users or a user.
</div>
{% endblock %}

<form method="POST" action="{{ script_root }}/admin/challenges/new" enctype="multipart/form-data">
	{% block name %}
	<div class="form-group">
		<label>
			Name:<br>
			<small class="form-text text-muted">
				The name of your challenge
			</small>
		</label>
		<input type="text" class="form-control" name="name" placeholder="Enter challenge name">
	</div>
	{% endblock %}

	{% block category %}
	<div class="form-group">
		<label>
			Category:<br>
			<small class="form-text text-muted">
				The category of your challenge
			</small>
		</label>
		<input type="text" class="form-control" name="category" placeholder="Enter challenge category">
	</div>
	{% endblock %}

	{% block compose %}
	<div class="form-group">
		<label>
			Compose:<br>
			<small class="form-text text-muted">
				Docker Compose file for challenges
			</small>
		</label>
		<textarea class="form-control" name="compose" rows="10"></textarea>
	</div>
	{% endblock %}

	{% block challenge_type %}
	<div class="form-group">
		<label for="challenge_type">
			Challenge Type
		</label>
		<select class="form-control custom-select" id="challenge_type" name="challenge_type">
			<option>web</option>
			<option>other</option>
		</select>
	</div>
	{% endblock %}

	{% block message %}
	<div class="form-group">
		<label>
			Message:<br>
			<small class="form-text text-muted">
				Use this to give a brief introduction to your challenge.
			</small>
		</label>
		<textarea id="new-desc-editor" class="form-control markdown" name="description" rows="10"></textarea>
	</div>
	{% endblock %}

	{% block value %}
	<div class="form-group">
		<label for="value">Initial Value<br>
			<small class="form-text text-muted">
				This is how many points the challenge is worth initially.
			</small>
		</label>
		<input type="number" class="form-control" name="initial" placeholder="Enter value" required>
	</div>

	<div class="form-group">
		<label for="value">Decay<br>
			<small class="form-text text-muted">
				<span>The amount of solves before the challenge reaches its minimum value. Earlier solves will lose less
					points. Later solves will lose more points</span>
			</small>
		</label>
		<input type="number" class="form-control" name="decay" min="1" placeholder="Enter Decay value" required>
	</div>
	
	<div class="form-group">
		<label for="value">Minimum Value<br>
			<small class="form-text text-muted">
				This is the lowest that the challenge can be worth
			</small>
		</label>
		<input type="number" class="form-control" name="minimum" placeholder="Enter minimum value" required>
	</div>
	{% endblock %}

	{% block state %}
	<input type="hidden" name="state" value="hidden">
	{% endblock %}

	{% block type %}
	<input type="hidden" value="container" name="type" id="chaltype">
	{% endblock %}

	{% block submit %}
	<div class="form-group">
		<button class="btn btn-primary float-right create-challenge-submit" type="submit">Create</button>
	</div>
	{% endblock %}
</form>

{% block footer %}
{% endblock %}