<div class="row">
    <div class="col-md-6 offset-md-3">
        <img class="w-100 mx-auto d-block" style="max-width:  500px;padding:  50px;padding-top:  14vh;" src={{ logo_path }}/>
        <h3 class="text-center">
            <p>A CTF platform from <a href="https://jointcyberrange.nl/">Joint Cyber Range</a></p>
            <p>The national facility for cyber security education in the Netherlands and so on. Developed by and for higher and vocational education.</p>
        </h3>
    </div>
</div>